.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid black;

  height: 400px;
  width: 400px;
  margin-top: 20vh;
}
.login {
  text-align: center;
  margin-top: 30px;
}
.inputs {
  display: flex;
  flex-direction: column;
}
.fw {
  width: 100%;
}

.p1 {
  padding-top: 10px;
}
.btnn {
  display: flex;
  width: 100%;
}

